{% extends "App/padre.html" %}

{% load static %}

{% block titulo %}
<h1 class="mb-5">ACA EDITAMOS PERFILES</h1>
{% endblock %}

{% block cambia %}

<h1> EDITAR PERFIL: {{ usuario }} </h1>
{% if formulario.errors %}
<p style="color:red"> HAY ALGO MAL EN EL FORMULARIO</p>
{% endif %}

<form action="{% url 'editarperfil' %}" method="POST" enctype="multipart/form-data"> {% csrf_token %}

    {{ formulario.as_p }}
    {{avatar_form.as_p}}

    <input type="submit" value="enviar">


</form>


{% endblock %}
