{% extends "App/padre.html" %}

{% load static %}

{% block cambia %}
<p>{{ mensaje }}</p>
    <h1>Bienvenidos al mejor sitio sobre la vida de tus animales.</h1>
    <br>
    <h2>Conoce todas las opciones que te brindara este blog:</h2>

    <p class="font-weight-light mb-0"> 
        <img src="/mascotas/perro_uRommvI.jpg" width="150" height="150" align="left"><p style="color:blue">ARTICULOS</p>  Toda la informacion que necesitas para el cuidado de tus animales.
    </p>
    <br>
    <br clear="all"> 
    <br>
    <p class="font-weight-light mb-0" > 
        <img src="/articulos/perro5.jpg" width="150" height="150" align="left"><p style="color:blue">NUESTRAS MASCOTAS</p>  Comparti las imagenes mas divertidas de tus queridas mascotas
    </p>
    <br>
    <br clear="all">
    <br>
    <p class="font-weight-light mb-0" > 
        <img src="/mascotas/gato1.jpg" width="150" height="150" align="left"><p style="color:blue">CHAT</p>  Comunicate con todos los usuarios del chat.
    </p>
    <br>
    <br clear="all">
    <br>


{% endblock %}
