{% extends "App/padre.html" %}

{% load static %}

{% block cambia %}
<h1>Formulario de Mascotas</h1>

    {% if miFormulario.errors %}
    <p style ='color:red'> 'Hay un error en el formulario revisar'</p>
    {% endif %}

    <form action = '/mascotaFormulario/', method="POST" enctype="multipart/form-data">{% csrf_token %}

        <table>
            {{ miFormulario.as_table }}
        </table>
        <br>
        <br>
        <input class="btn btn-crud-agregar" type = 'submit', value='Enviar'>

    </form>
{% endblock %}
