{% extends "App/padre.html" %}

{% load static %}

{% block cambia %}
<h1>{{ mensaje }}</h>
    <h1>Creadores del sitio web: </h1>
    <h3>Eduardo Gutierrez:<h2>
    <p class="lead mb-0"> Su liderazgo es el que debe motivar a todos los empleados a dar lo mejor de sí, para cumplir las actividades que les son encomendadas y trabajar de manera eficaz. </p>
    <h3>Eduardo Montero:<h2>
    <p class="lead mb-0">Como todo buen líder, el supervisor debe conocer bien a cada uno de los miembros del equipo, con el propósito de identificar sus puntos más fuertes, pero también los más débiles y, así, trabajar en conjunto para lograr que cada uno llegue a su máximo potencial.</p>
    <h3>Diego Conde:<h2></h2>
    <p class="lead mb-0">Estudiante universitario flexible con excelentes habilidades analíticas, de gestión de proyectos y de trabajo en equipo, obtenidas a través de estudios universitarios. </p>
{% endblock %}
