<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados de la Busqueda</title>
</head>
<body> 
    <h1>Resultados de la Busqueda de Mascotas</h1>
    {% if mascotas %}

    <u1>
        {% for mascota in mascotas %}
            <p>Nombre mascota: {{ mascota.nombre }}</p>
            <p>Edad (años): {{ mascota.edad }}</p>
            <p>Tipo mascota: {{ mascota.tipo }}</p>

                <br>

        {% endfor%}
    </u1>
    {% else %}
        <p>No hay mascotas con esa descripción!</p>
    {% endif %}
    
</body>
</html>