<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Veterinarios</title>
</head>
<body>
    <h1>Formulario de Veterinarios</h1>

    {% if miFormulario.errors %}
    <p style ='color:red'> 'Hay un error en el formulario revisar'</p>
    {% endif %}

    <form action = '/App/veterinarioFormulario/', method="POST">{% csrf_token %}

        <table>
            {{ miFormulario.as_table }}
        </table>
        
        <input type = 'submit', value='Enviar'>

    </form>
</body>
</html>